@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Sansita+Swashed:wght@300..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color:rgba(255, 252, 168, 1);
}

.navbar{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 24px 180px 0 180px;
  background-color:rgb(210, 224, 144);
  padding: 10px 32px;
  border-radius: 16px;
  box-shadow: 0 4px 10px gray;
}
.navbar .left{
    display: flex;
    gap: 32px;
  }

nav:hover{
    /* transform: scale(1.01);  */
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.25s ease-in-out;
    
}
.navbar a{
    color:rgba(27, 34, 27, 1);
    text-decoration: none;
    font-size: 17px;
}
.navbar .logo{
    font-family: "Sansita Swashed", system-ui;
    text-align:center;
    font-weight: 500;
    font-size: 42px;
}
.navbar .right{
    display: flex;
    justify-content: flex-end;
}

header{
    padding: 48px 48px;
    text-align: center;

}
header h2{
    text-align: center;
    margin:0;
    margin-bottom: 48px;
    margin-top: 72px;
    font-size: 100px;
}
.heading{
    animation: drop 4s ;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.mainimage{
    height: 100%;
    width: 100%;
}
img{
    border-radius: 22px;
}
.collage .pics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}
.collage{
    padding: 48px;
}
.collage .pics img{
    width: 100%;
    margin-bottom: 8px;
}
p{
    font-style: oblique;
    font-family: 'Cutive', serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.landingpagefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.landingpagefooter .outline .stay{
    padding-bottom: 30px;
}

.landingpagefooter .outline .stay h4{
    font-family: Montagu Slab;
    font-style: italic;
    font-size: 47px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(27, 34, 27, 1);
}


input{
    background-color:rgba(255, 252, 168, 1);
    width: 432px;
    height: 48px;
    padding: 8px 12px 8px 12px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid rgba(27, 34, 27, 1);
    opacity: 0px;
    border-top: 1px solid rgba(27, 34, 27, 1);
    font-size: 25px;
    text-align: center;
}

.Subscribe{
    background: rgba(2, 102, 0, 1);
    color: white;
    padding: 12px 24px 12px 24px;
    border-radius: 8px ;
    opacity: 0px; 
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
    font-style:Sans Mono;
}
.Subscribe:hover{
    cursor: pointer;
    box-shadow: 0 4px 20px gray;
    transform: scale(1.05);
}
.Subscribe:active{
    background-color: rgb(51, 187, 47);
    cursor: pointer;
}

.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

footer{
    display: flex; 
    justify-content: space-between; 
    padding-top: 250px ;
    padding-bottom: 50px ;
    padding-left: 50px;
    padding-right: 50px;
}

footer .pagelinks h5{
    font-size: 28px;
    font-weight: 400;
}

.contact{
    background-color:rgba(255, 252, 168, 1);
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.contact:hover{
    cursor: pointer;
    box-shadow: 0 4px 20px gray;
}
.contact:active{
    background-color: rgb(152, 148, 51);
}
img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.25s ease-in-out;
}
.subscribe-container{
    display: flex;
}
.stay{
    margin-bottom: 35px;
}

.text1{
    font-family: "Cutive", serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.text2{
    font-family: "Cutive", serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
      
@media screen and (max-width: 1024px){
    .logo{
        margin-left: 50px;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        margin: 10px;
    }
    .left{
        display: none !important;
    }
    .right{
        display: none !important;
    }
    .maincontent{
        margin: 10px;
    }
    .heading h2{
        font-size: 36px;
    }
    .collage .pics{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .subscribe-container{
        flex-direction: column;
        gap: 20px;
    }
    .subscribe-container input{
        width: auto;
    }
}

@media screen and (max-width:768px){
    .navbar .left{
        display: grid;
        gap: 15px;
    }
    .navbar .logo{
        font-size: 32px;
        margin-left: 0;
    }
 }
 @media screen and (max-width:917px) {
    .navbar .left{
        gap: 8px;
    }
    .navbar .logo{
        margin-left: 30px;
    }
 }
 @media screen and (max-width:375px){
    .navbar .logo{
        margin-left: 65px;
    }
    .heading h2{
        font-size: 27px;
        margin-top: 0;
    }
 }
 @media screen and (max-width:414px){
    .navbar .logo{
        margin-left: 80px;
    }
 }
 @media screen and (max-width:320px){
    .navbar .logo{
        margin-left: 30px;
    }
 } 
